/*LOGO AND DROPDOWN MENU @@@@@@@@@@@@@@@@@@@*/

.menu {
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    height: 80vh;
    padding: 1.5rem;

    @include tablet {
        align-items: center;
        flex-flow: row;
        width: 100%;
        height: 75vh;
    }

    @include desktop {
        justify-content: flex-start;
    }

}

.headerShrink {
    height: 200px;
    transition: 2s;
    flex-flow: column nowrap;

    @include tablet {
        flex-flow: row;
        justify-content: flex-start;
    }
    img {
        height: 120px;
    }
}

.logo {
    flex: 0 1 25%;
    align-self: center;

    @include desktop {
        max-width: 300px;
    }
}

.search_options {
    p {
        padding: 5% 0px;
    }

    @include tablet {
        text-align: left;
    }
}

.searchForm {
    flex: 0 1 75%;
    text-align: center;

    @include tablet {
        max-width: 200px;
    }
}
