/*FOOTER @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

footer {
    text-align: center;
    height: 10vh;
    margin-bottom: 3rem; 

    @include desktop {
        text-align: left;
    }
    
    p {
        margin: 5%;
        color: #c2c2c2;
    }
}