.container {
    max-width: 1240px;
}

body {
    background-color: black;
}

p {
    color: white;
}

.strong {
    text-transform: uppercase;
}

/*LOGO AND DROPDOWN MENU @@@@@@@@@@@@@@@@@@@*/
.menu {
    
}

/*NEWS @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

.topNews {

}


.topNews li {
    width: 25%;
}

.topNews img {
    width: 100%;
}

/*FOOTER @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

footer {
    
}